<p id="notice"><%= notice %></p>



  
    <% @posts.each do |post| %>
                    
        
        <br>
        <div class="imagepost">
            <span class="colorapp" ><%= post.user.email %> </span>
            <span class="min_ago"><%= time_ago_in_words(post.created_at) %></span>
            <center>
            <table>
                <tr><td>
                        <div id="imagepost">
                            <%= image_tag post.left.url(:large) %>
                        </div>
                    </td>
                    <td>
                        <div id="imagepost">
                            <%= image_tag post.right.url(:large) %></td>
                        </div>
                    </td>
                <tr>
            </table>
            </center>
            <p class="legend"><%= post.legend %></p>
            <%=  link_to like_post_path(post), method: :put , class: "btn btn-success" do %>
               <span class="glyphicon glyphicon-heart"><%= post.get_upvotes.size%></span>
                 
               <% for user in post.votes_for.up.by_type(User).voters%>
                  <%= user.email + "," %>
               <% end %>
            <% end %> <br><br>
        </div>
        <br>
        
        <%= link_to 'Show', post %>
        <% if post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <br><br><br>
    <% end %>



<br>

<%= link_to 'New Post', new_post_path %>
