<!DOCTYPE html>
<html>
<head>
  <title>XXXXX</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- Brand and toggle get grouped for better mobile display -->
  
    <!-- Collect the nav links, forms, and other content for toggling -->
        
        <% if notice %>      
          <div id="notice_wrapper">
            <p class="notice"><%= notice %></p>
          </div>

        <% elsif alert %>
          <div id="notice_wrapper"><p class"alert"><%= alert %></p></div>
        <% end %>

            <% if user_signed_in? %>
            <div class="row" >
                  <div class="col-md-2 " ></div>
                  <div class="col-md-8  " >
                      
                    <nav class="navbar navbar-custom">
                      <div class="container-fluid">
                        <div class="navbar-header">
                          <%= link_to image_tag("/images/rol.png", :border => 0, :width => "100px"),  root_path  %>
                        </div>    
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav navbar-right">
                           <p class="navbar-text left" style="font-size: 1.2em;" ><%= current_user.email.gsub('@gmail.com' ,'').capitalize %></p> 
                            <li>
                               <%= link_to destroy_user_session_path, method: :delete  do %>
                                    <span class="glyphicon glyphicon-log-out text-primary" style="font-size:1.2em;"></span>
                               <% end %>
                             </li>
                          </ul>
                        </div>
                      </div>
                    </nav>

                  </div>
                  <div class="col-md-2 " ></div>
            </div>
            <% else %>
              <center>
                <br><br><br><br><br><br><br><br>
                <div class="center">
                  <img src="/images/rol.png" alt="">
                </div>
                <br>
              </center>
            <% end %>
  

<div class="container">
  <div class="col-md-2 " ></div>
  <div class="col-md-8 " ><%=yield%></div>
	<div class="col-md-2 " ></div>
</div>
</body>
</html>

